.header {
  @apply flex justify-between items-center px-8 py-10;
  &-left {
    @apply flex justify-start items-end;
  }
}

.logo {
  width: 20rem;
  .wrap {
    width: 100%;
    padding-bottom: calc(132.05 / 1015 * 100%);
    background-image: url(~@/assets/images/logo-alt-short.svg);
    background-size: 100% 100%;
  }
}

.menu {
  @apply flex justify-center items-center text-2xl ml-10;
  li {
    @apply text-gray-100 font-bold transition-colors;
    @apply hover:text-gray-300;
    & + li {
      @apply ml-8;
    }
  }
}
