.main {
  @apply w-11/12 max-w-screen-xl m-auto;
}

.info {
  @apply relative z-10 flex justify-center items-start;
  margin-top: -400px;
}

.video-post {
  width: 300px;
  @apply mr-10 rounded-md overflow-hidden;
}

.logo-list {
  width: 10rem;
  height: 7.5rem;
  text-align: center;
  @apply flex justify-center items-center m-3;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.type {
  @apply flex justify-start items-center flex-wrap;
  li {
    @apply m-1;
  }
}

.type-list {
  @apply mr-3 px-5 py-2 rounded-md text-iColor-green border-iColor-green text-2xl;
  border-width: 1px;
}

.networks {
  @apply mt-5 flex justify-start items-start bg-gray-100/[.5] rounded-md p-3;
}

.vote-average {
  font-size: 7rem;
  @apply leading-none font-bold mr-5;
}

.seasons {
  @apply flex justify-start items-start mt-5;
  li {
    width: 150px;
  }
}

.season {
  @apply py-20 relative;
  span {
    @apply absolute w-full left-0 z-0;
    top: 40%;
    height: 12.5rem;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    opacity: 0.8;
  }
}

.avatar {
  @apply rounded-full overflow-hidden flex justify-center items-center bg-gray-300;
  width: 40px;
  height: 40px;
}
