.main {
  @apply w-11/12 max-w-screen-xl m-auto;
}

.info {
  @apply relative z-10 flex justify-center items-start;
  margin-top: -400px;
}

.video-post {
  width: 300px;
  @apply mr-10 rounded-md overflow-hidden;
}

.vote-average {
  font-size: 9rem;
  @apply leading-none font-bold;
}

.pic-bar {
  @apply w-full h-screen;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
