.reviews {
  padding: 10rem 0 20rem;
  ul {
    li {
      &:not(:first-child) {
        margin-top: 10rem;
      }
    }
  }
}

.avatar {
  @apply rounded-full overflow-hidden flex justify-center items-center bg-gray-300;
  width: 40px;
  height: 40px;
}

.vote-ball {
  width: 5rem;
  height: 5rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
  @apply rounded-full flex
    justify-center items-center;
}
